.userInfo {
    padding: 32px 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userNavItem {
    background-color: #fff;
    margin-bottom: 32px;
}

.userInfoBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    font-size: 18px;
    line-height: 21px;
    color: #505050;
    margin-top: 16px;
    margin-bottom: 8px;
}

.userPosition {
    color: #8F8F8F;
    margin-bottom: 16px;
}

.userInfoSocial img:first-child, .userInfoSocial img:nth-child(2) {
    margin-right: 5px;
}